.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header header header"
        "main main sidebar"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vw 1fr 20vw;
    gap: 0px;
}

header {
    grid-area: header;
    background-color: grey;
}

aside {
    grid-area: sidebar;
    background-color: green;
}

.content-1 {
    grid-area: main;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: grey;
}

.contF {
    display: grid;
    grid-template-areas: "headerF headerF headerF headerF"
        "content1 content2 content3 content4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /*50px 50px 50px 50px;*/
    gap: 10px;
    justify-items: center;
    text-align: center;



}

.contentF {
    grid-area: headerF;

}

.contentF-1 {
    grid-area: content1;
    background-color: white;
}

.contentF-2 {
    grid-area: content2;
    background-color: white;
}

.contentF-3 {
    grid-area: content3;
    background-color: white;
}

.contentF-4 {
    grid-area: content4;
    background-color: white;
}

.content-1 {
    display: grid;
    grid-template-areas: "headerM headerM"
        "contentM1 contentM2"
        "footerM footerM";
    grid-template-columns: repeat(2,
            /*1fr*/
            50%);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-items: last baseline;
    text-align: center;
}

.contentM {
    grid-area: headerM;

}

.contentM-1 {
    grid-area: contentM1;
    background-color: orange;
    margin: 10px;
}

.contentM-2 {
    grid-area: contentM2;
    background-color: orange;
    margin: 10px;
}

.contentM-3 {
    grid-area: footerM;
    background-color: orange;
    margin: 10px;
}